html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	
}

/* Estilos para Tablets y pantallas más pequeñas */
@media (max-width: 768px) {
    /* Hacemos que la barra de navegación ocupe todo el ancho */
    .nav {
        flex-direction: column; /* Apila los enlaces verticalmente si usas flexbox */
        align-items: center;
    }
     /* Hacemos que las imágenes de los productos ocupen más espacio */
    .products img {
        width: 80%; /* Ocupan más ancho en pantallas pequeñas */
        margin: 10px auto; /* Centramos las imágenes */
    }
}

/* Estilos para Móviles */
@media (max-width: 480px) {
    /* Reducimos el tamaño de los títulos para que quepan */
    h1 {
        font-size: 2em; /* Un tamaño más adecuado para móviles */
    }

    h2 {
        font-size: 1.5em;
    }

    /* Hacemos que el contenedor de productos sea más simple */
    .products {
        display: block; /* Quitamos el display: flex si lo tienes */
    }

    .products img {
       width: 100%; /* Hacemos que cada producto ocupe todo el ancho */
    }
}